:root {
  --PrimaryColor: hsla(47, 68%, 38%, 0.836);
  --SecondaryColor: hsla(41, 100%, 33%, 0.441);
  --gradientColor: linear-gradient(to right, hsla(47, 68%, 38%, 0.836), hsla(41, 100%, 33%, 0.441));
  --whiteColor: #fff;
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239,239,239);
  --bodyColor: rgb(240,240,240);
  --cardBG: rgb(225,225,235);
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--whiteColor);
  width: 100%;
  padding: 1rem;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.156);
}
.header .logoDiv {
  color: var(--PrimaryColor);
}
.header .logoDiv .logo {
  gap: 1px;
  color: var(--PrimaryColor);
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}
.header .logoDiv .logo:hover {
  color: var(--SecondaryColor);
}
.header .navBar .navLists {
  flex-direction: row;
  gap: 1.5rem;
}
.header .navBar .navLists .navItem a {
  color: var(--PrimaryColor);
  position: relative;
}
.header .navBar .navLists .navItem a:hover {
  opacity: 0.8;
}
.header .navBar .navLists .navItem .navLink::before,
.header .navBar .navLists .navItem .navLink::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background: var(--SecondaryColor);
  transition: 0.5s;
}
.header .navBar .navLists .navItem .navLink::after {
  left: 0;
  bottom: -10px;
}
.header .navBar .navLists .navItem .navLink::before {
  top: -10px;
  right: 0;
}
.header .navBar .navLists .navItem .navLink:hover::after,
.header .navBar .navLists .navItem .navLink:hover::before {
  width: 100%;
}
.header .closeNavbar {
  display: none;
}
.header .toggleNavbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .logoDiv p {
    display: none;
  }
  .header .navBar {
    padding: 1rem;
    position: absolute;
    background: var(--whiteColorDream);
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.984);
    transition: 0.3s ease;
  }
  .header .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 1.5rem 0;
  }
  .header .navBar .navLists .navItem {
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .header .navBar .navLists .btn {
    margin-top: 1rem;
  }
  .header .navBar .navLists .btn a {
    font-weight: 600;
    color: var(--whiteColor);
  }
  .header .navBar .closeNavbar {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: var(--PrimaryColor);
  }
  .header .navBar .closeNavbar:hover {
    color: var(--SecondaryColor);
  }
  .header .activeNavbar {
    top: 5rem;
  }
  .header .toggleNavbar {
    display: block;
  }
  .header .toggleNavbar .icon {
    font-size: 25px;
    color: var(--PrimaryColor);
  }
  .header .toggleNavbar:hover.icon {
    color: var(--SecondaryColor);
  }
}/*# sourceMappingURL=navbar.css.map */