:root {
  --PrimaryColor: hsla(47, 68%, 38%, 0.836);
  --SecondaryColor: hsla(41, 100%, 33%, 0.441);
  --gradientColor: linear-gradient(to right, hsla(47, 68%, 38%, 0.836), hsla(41, 100%, 33%, 0.441));
  --whiteColor: #fff;
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239,239,239);
  --bodyColor: rgb(240,240,240);
  --cardBG: rgb(225,225,235);
}

.huynh {
  padding: 3.2rem 0;
  width: 100%;
}
.huynh .pagePadding {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.huynh .pagePadding .textDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.huynh .pagePadding .textDiv .title {
  flex: 1;
  font-size: 32px;
  font-weight: 700;
  color: var(--PrimaryColor);
  text-transform: uppercase;
  position: relative;
  display: flex;
  transition: 0.3s ease;
}
.huynh .pagePadding .textDiv .title:hover {
  color: var(--SecondaryColor);
  transform: translateX(5%);
}
.huynh .pagePadding .textDiv .line {
  flex: 4;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--PrimaryColor);
}
@media screen and (max-width: 900px) {
  .huynh .pagePadding .textDiv .title {
    font-size: 25px;
    flex: 2;
  }
  .huynh .pagePadding .textDiv .line {
    flex: 3;
  }
}
@media screen and (max-width: 525px) {
  .huynh .pagePadding .textDiv .title {
    font-size: 20px;
    flex: 2;
  }
  .huynh .pagePadding .textDiv .line {
    flex: 3;
  }
}
.huynh .pagePadding .mainContent {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  width: 100%;
}
.huynh .pagePadding .mainContent .leftContent {
  width: 40%;
}
.huynh .pagePadding .mainContent .leftContent .slideContent {
  width: 100%;
}
.huynh .pagePadding .mainContent .leftContent .slideContent .imgDiv {
  border-radius: 1rem;
  width: 100%;
  height: 640px;
  overflow: hidden;
}
.huynh .pagePadding .mainContent .leftContent .slideContent .imgDiv img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.huynh .pagePadding .mainContent .rightContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--SecondaryColor);
  border-radius: 10px;
  width: 60%;
}
.huynh .pagePadding .mainContent .rightContent .blog {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.huynh .pagePadding .mainContent .rightContent .blog .blogContent {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background: var(--whiteColor);
  border-radius: 10px;
}
.huynh .pagePadding .mainContent .rightContent .blog .blogContent .imgDiv {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.huynh .pagePadding .mainContent .rightContent .blog .blogContent .imgDiv img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.huynh .pagePadding .mainContent .rightContent .blog:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .huynh .pagePadding .mainContent {
    flex-direction: column;
  }
  .huynh .pagePadding .mainContent .leftContent {
    width: 100%;
  }
  .huynh .pagePadding .mainContent .leftContent .slideContent .imgDiv {
    height: 320px;
  }
  .huynh .pagePadding .mainContent .rightContent {
    width: 100%;
  }
  .huynh .pagePadding .mainContent .rightContent .blog .blogContent .imgDiv {
    width: 100px;
    height: 80px;
  }
  .huynh .pagePadding .mainContent .rightContent .blog .blogContent .blogTextDiv h3 {
    font-size: 14px;
  }
  .huynh .pagePadding .mainContent .rightContent .blog .blogContent .blogTextDiv p {
    font-size: 13px;
  }
}
@media screen and (max-width: 1000px) {
  .huynh .pagePadding .mainContent .rightContent .blog .blogContent .blogTextDiv h3 {
    font-size: 16px;
  }
  .huynh .pagePadding .mainContent .rightContent .blog .blogContent .blogTextDiv p {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .huynh .pagePadding {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (max-width: 468px) {
  .huynh .pagePadding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
/*# sourceMappingURL=huynh.css.map */