:root {
  --PrimaryColor: hsla(47, 68%, 38%, 0.836);
  --SecondaryColor: hsla(41, 100%, 33%, 0.441);
  --gradientColor: linear-gradient(to right, hsla(47, 68%, 38%, 0.836), hsla(41, 100%, 33%, 0.441));
  --whiteColor: #fff;
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239,239,239);
  --bodyColor: rgb(240,240,240);
  --cardBG: rgb(225,225,235);
}

.contact {
  margin-top: 3.2rem;
  justify-content: center;
  gap: 1.5rem;
}
.contact .mainContent {
  height: 100%;
  width: 100%;
  position: relative;
}
.contact .mainContent .textDiv {
  width: 100%;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  color: var(--whiteColor);
  background: var(--gradientColor);
}
.contact .mainContent .textDiv .setTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact .mainContent .textDiv .setTitle .title {
  flex: 1;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  color: var(--whiteColor);
  text-transform: uppercase;
  position: relative;
  display: flex;
  transition: 0.3s ease;
}
.contact .mainContent .textDiv .setTitle .title:hover {
  transform: translateX(5%);
}
.contact .mainContent .textDiv .setTitle .line {
  flex: 4;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--whiteColor);
}
@media screen and (max-width: 900px) {
  .contact .mainContent .textDiv .setTitle {
    gap: 1rem;
  }
  .contact .mainContent .textDiv .setTitle .title {
    font-size: 25px;
    flex: 2;
  }
  .contact .mainContent .textDiv .setTitle .line {
    flex: 3;
  }
}
.contact .mainContent .textDiv .setContent {
  margin-top: 3rem;
  margin-bottom: 1.6rem;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
}
.contact .mainContent .textDiv .setContent .Content {
  width: 100%;
  gap: 3.2rem;
}
.contact .mainContent .textDiv .setContent .Content .leftContent {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2rem 0;
}
.contact .mainContent .textDiv .setContent .Content .leftContent .logoIcon {
  width: -moz-max-content;
  width: max-content;
  gap: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--whiteColor);
}
.contact .mainContent .textDiv .setContent .Content .leftContent .logoIcon a {
  color: var(--PrimaryColor);
}
.contact .mainContent .textDiv .setContent .Content .leftContent .logoIcon a:hover {
  color: var(--SecondaryColor);
}
.contact .mainContent .textDiv .setContent .Content .leftContent .setText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.contact .mainContent .textDiv .setContent .Content .leftContent .setText h1 {
  font-size: 30px;
  font-weight: 700;
}
.contact .mainContent .textDiv .setContent .Content .leftContent .setText p {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .contact .mainContent .textDiv .setContent .Content .leftContent .setText h1 {
    font-size: 25px;
    font-weight: 700;
  }
  .contact .mainContent .textDiv .setContent .Content .leftContent .setText p {
    font-size: 18px;
    font-weight: 300;
  }
}
.contact .mainContent .textDiv .setContent .Content .rightContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}
.contact .mainContent .textDiv .setContent .Content .rightContent .fContent {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  gap: 0.5rem;
  border-bottom: 3px solid var(--SecondaryColor);
}
.contact .mainContent .textDiv .setContent .Content .rightContent .fContent h2 {
  font-size: 32px;
}
.contact .mainContent .textDiv .setContent .Content .rightContent .fContent .content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.contact .mainContent .textDiv .setContent .Content .rightContent .fContent .content a {
  font-weight: 700;
  font-size: 18px;
  color: var(--whiteColor);
}
.contact .mainContent .textDiv .setContent .Content .rightContent .fContent .content a:hover {
  color: var(--whiteColorDream);
}
@media screen and (max-width: 1100px) {
  .contact .mainContent .textDiv .setContent .Content .rightContent .fContent h2 {
    font-size: 28px;
  }
  .contact .mainContent .textDiv .setContent .Content .rightContent .fContent .content {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
  }
}
.contact .mainContent .textDiv .setContent .Content .rightContent .sContent {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.contact .mainContent .textDiv .setContent .Content .rightContent .sContent h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.contact .mainContent .textDiv .setContent .Content .rightContent .sContent .small {
  font-size: 13px;
}
@media screen and (max-width: 468px) {
  .contact .mainContent .textDiv .setContent .Content {
    gap: 0;
    flex-direction: column;
  }
  .contact .mainContent .textDiv .setContent .Content .leftContent .logoIcon {
    width: 100%;
    gap: 0;
    justify-content: space-around;
  }
  .contact .mainContent .textDiv .setContent .Content .rightContent {
    padding: 0 2rem;
    border-left: 3px solid var(--whiteColor);
  }
  .contact .mainContent .textDiv .setContent .Content .rightContent .fContent {
    border-bottom: none;
  }
}
@media screen and (max-width: 900px) {
  .contact .mainContent .textDiv .pagePadding {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (max-width: 468px) {
  .contact .mainContent .textDiv .pagePadding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}/*# sourceMappingURL=contact.css.map */